:root {
    --primary-color: #9600FF;
    --secondary-color: #E0FF00;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.text-regular-sm {
    font-size: 18px;
    line-height: 28px;
}

.text-regular {
    font-size: 20px;
    line-height: 36px;
}

.text-bold-mid {
    font-size: 24px;
    line-height: 46px;
}

.text-bold-large {
    font-size: 36px;
}
